#svgWrapper {
  /* sets an inital transform for use in flipping the plate with jQuery */
  transform: scale(1,1)
}

#headerWrapper {
  height: 65px;
  position:sticky;
  display: grid;
  /* To keep the header on top of the plate */
  z-index: 1;
}

#headerBackgroundBox {
  background-color: rgb(46, 46, 46);
  margin: auto;
  padding: 10px 20px;
}

.keyItem {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:chartreuse; */
  padding: 2px 30px;
}

#plateKey {
  display: flex;
  justify-content: center;
  /* background-color:blueviolet; */
  height: 30px;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:chartreuse; */
  white-space: nowrap;
  font-size: 20px;
  color: rgb(220, 220, 220);
}

.keyText {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(220, 220, 220);
}

#plateButtons {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

#plateResetPanZoomButton {

}

#plateFlipButton {

}