/* .container {
  display: block;
  justify-content: center;
  align-items: center;
} */

#headerWrapper {
  height: 65px;
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  display: grid;
  /* To keep the header on top of the plate */
  z-index: 1;
}

#headerBackgroundBox {
  background-color: rgb(46, 46, 46);
  margin: auto;
  padding: 10px 20px;
}

#headerTextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px 5px; */
}
@media (max-width: 520px) {
  #headerTextBox {
    display: block;
  }
} 

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:chartreuse; */
  white-space: nowrap;
  font-size: 20px;
  color: rgb(220, 220, 220);
  padding: 0px 5px;
}

#plateKey {
  display: flex;
  justify-content: center;
  /* background-color:blueviolet; */
  height: 30px;
  margin: 5px 0px;
}
@media (max-width: 599px) {
  #plateKey {
    justify-content: space-around;
  }
}

.keyItem {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:chartreuse; */
  /* padding: 0px 30px; */
  margin: 0px 20px;
}
@media (max-width: 599px) {
  .keyItem {
    margin: 0px 0px;
  }
}

.keyDot {
  min-width: 20px;
  min-height: 30px;
}

.keyText {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(220, 220, 220);
}

#plateButtonBox {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
@media (max-width: 599px) {
  #plateButtonBox {
    justify-content: space-around;
  }
}

.plateButton {
  margin: 0px 20px;
}
@media (max-width: 599px) {
  .plateButton {
    margin: 0px 0px;
  }
}

