
.jumbotron {
  text-align: center;
  padding: 1em
}

#jumbotronText {
  font-size: 20pt;
}

#roomSelectionDiv {
  display: flex;
  align-content: center;
  justify-content: center;
}

#gsGalleryAnchor,
#mpStudioAnchor {
  display: flex;
  align-content: center;
  justify-content: center;
}

#gsGalleryLink, 
#mpStudioLink {
  max-width: 90%;
  max-height: auto;
  border-style: solid;
  border-color: black;
  border-radius: 20pt;
  border-width: .2rem;
}

#gsSvgOutsideContainer,
#mpSvgOutsideContainer {
  background-color: aquamarine;
  border-style: solid;
  border-color: black;
  padding: 1em;
}

#gsSvgMapWrapper,
#mpSvgMapWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gsSvgMap {
  background: url('../assets/GS-Galactic-PingPong-v1.svg');
  background-repeat: no-repeat;
  
  /* used to view the size/shape of the svg */
  border-style: dashed;
  border-color: red;
  border-width: 5;
}

#mpSvgMap {
  background: url('../assets/GS-Galactic-PingPong-v1.svg');
  background-repeat: no-repeat;
}